# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.pyc
*.pyo
*.pyd

# Flask specific
instance/
*.pyo
*.pyd
*.db
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Windows files
Thumbs.db
desktop.ini

# Azure
local.settings.json
